.navbar {
  /*sidebar color fading from left to right*/
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255) 100%
  );
  height: 80px;
  display: flex;
  justify-content: center; /*Line up in center */
  align-items: center;
  font-size: 1.2rem;
  position: sticky; /*make nav bar stick to the screen*/
  top: 0;
  z-index: 999; /*make this component the top layer*/
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.19);
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  padding-right: 20px;
  display: flex;
  justify-self: start;
  cursor: pointer; /*what the mouse look like when pointing to this*/
  text-decoration: none;
}

.navbar-logo img {
  height: 50px;
}

.homeSubTitle {
  width: 400px;
  text-align: center;
  
}

.homeSubTitle p {
  color: #c22d00;
}

.symbol {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.symbol > img {
  width: 10px;
  height: 20px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-gap: 10px;
  list-style: none; /*hiding style like dots*/
  text-align: center;
  width: 50vw;
  justify-content: end;
  /* margin-right: 2rem; */
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #f19072;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 101%;
}

.nav-links:hover {
  color: #640c0f;
  border-bottom: 4px solid #640c0f;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #f19072;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1700px) {
  .NavbarItems {
    position: flex;
  }

  .navbar {
    justify-content: flex-start;
  }

  .navbar-logo {
    margin-left: 10px;
  }

  .navbar-logo img {
    margin-left: 10px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    display: flex;
  }

  .symbol > img {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #f19072;
    font-size: 2rem;
  }
  /* 
  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  } */
}

/* @media screen and (max-width: 750px) {
  .navbar-logo {
    padding-right: 300px;
  }
}

@media screen and (max-width: 650px) {
  .navbar-logo {
    padding-right: 100px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-logo {
    padding-right: 1000px;
  }
} */
